:root {
    --main-text-color: hsl(228, 12%, 48%);
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2E9E2;
    color: var(--main-text-color);
}

.megaContainer {
    /* background-image: url(/images/mockup_mobile.jpg); */
    width: 600px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border-radius: 12px;
}

.container {
    
    display: flex;
    /* margin-top: 7%; */
    /* margin-bottom: 3em; */
    
    /* border-color: 1px solid #0ae5e9; */
    
}


/* img {
    width: 300px;
    float: left;
    border-radius: 12px 0 0 12px;
} */

.image__container {
    width: 300px;
    /* height: 450px; */
    background-image: url("../images/image-product-desktop_2.jpg");
    border-radius: 12px 0 0 12px;
}

.textContainer {
    width: 240px;
    margin: 29px 30px;
}

.overText {
    font-size: 0.75rem;
    letter-spacing: .35rem;
    /* color: #0ae5e9; */
}

.heading {
    font-family: 'Fraunces', serif;
    font-weight: 650;
    font-size: 2rem;
    /* width: 200px; */
    color: hsl(212, 21%, 14%);
    margin-top: 1.25rem;
    line-height: 2rem;
    letter-spacing: -0.04em;
    /* color: #0ae5e9; */
}

.copyText {
    font-size: 0.875rem;
    margin-top: 1.45rem;
    line-height: 1.43rem;
    /* color: #0ae5e9; */
}

.prices {
    margin-top: 1.3rem;
    /* color: #0ae5e9; */
    
}

.newPrice {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-size: 2em;
    letter-spacing: -0.04em;
    /* color: #0ae5e9; */
}

.oldPrice{
   text-decoration:line-through;
   font-size: 0.8em;
   float: right;
   margin-top: 1.3em;
   margin-right: 3.5em;
   /* color: #0ae5e9; */
}

.CTA {
    background-color: hsl(158, 36%, 37%);
    border: none;
    /* background-color: rgb(0, 0, 0, 0); */
    /* border-color: #0ae5e9; */
    color: white;
    /* color: #0ae5e9; */
    width: 100%;
    height: 3.1em;
    margin-top: 1.3em;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    /* vertical-align: middle; */
    
}

.CTA:hover {
    background-color: #1A4031;
    transition: 0.5s ease;
}

.ctaContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

.cartIcon {
    display: inline-block;
    width: 29px;
    align-content: center;
    vertical-align: middle;
    
    /* vertical-align: middle; */
    margin-left: -8px;
}

.cartText {
    /* vertical-align: middle; */
    letter-spacing: -0.0em;
    /* margin-left: 3px; */
    font-size: 0.9em;
    font-weight: 600;
}


/* Media query for mobile devices */

/* 390 */

@media (max-width: 600px) {

    .megaContainer {
    /* background-image: url(/images/mockup_mobile.jpg); */
    width: 342px;
    height: 612px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    border-radius: 12px;
}


    /* img {
        width: 300px;
        float: left;
        border-radius: 12px 0 0 12px;
    } */

    .image__container {
        width: 342px;
        height: 239px;
        background-image: url("../images/image-product-mobile_2.jpg");
        border-radius: 12px 12px 0 0;
    }

    .textContainer {
        width: 90%;
        margin: 260px 22px;
        position: absolute;
    }

    .overText {
        font-size: 0.75rem;
        letter-spacing: .35rem;
        /* color: #0ae5e9; */
    }

    .heading {
        font-family: 'Fraunces', serif;
        font-weight: 650;
        font-size: 2rem;
        /* width: 200px; */
        color: hsl(212, 21%, 14%);
        margin-top: 0.8rem;
        line-height: 2rem;
        letter-spacing: -0.04em;
        /* color: #0ae5e9; */
    }

    .copyText {
        font-size: 0.875rem;
        width: 300px;
        margin-top: 1rem;
        line-height: 1.43rem;
        /* color: #0ae5e9; */
        letter-spacing: -0.03em;
    }

    .prices {
        margin-top: 2.5rem;
        /* color: #0ae5e9; */
        
    }

    .newPrice {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        color: hsl(158, 36%, 37%);
        font-size: 2em;
        letter-spacing: -0.04em;
        /* color: #0ae5e9; */
    }

    .oldPrice{
        text-decoration:line-through;
        font-size: 0.8em;
        float: right;
        margin-top: 1.1em;
        margin-right: 8.9em;
        /* color: #0ae5e9; */
    }

    .CTA {
        background-color: hsl(158, 36%, 37%);
        border: none;
        /* background-color: rgb(0, 0, 0, 0); */
        /* border-color: #0ae5e9; */
        color: white;
        /* color: #0ae5e9; */
        width: 97%;
        height: 3.1em;
        margin-top: 0.5em;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        /* vertical-align: middle; */
        
        
    }

    .CTA:hover {
        background-color: #1A4031;
        transition: 0.5s ease;
    }

    .ctaContent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        
    }

    .cartIcon {
        display: inline-block;
        width: 29px;
        align-content: center;
        vertical-align: middle;
        
        /* vertical-align: middle; */
        margin-left: -8px;
    }

    .cartText {
        /* vertical-align: middle; */
        letter-spacing: -0.0em;
        /* margin-left: 3px; */
        font-size: 0.9em;
        font-weight: 600;
    }
}